<?xml version="1.0" encoding="utf-8" ?>
<Community>
    <Core
		defaultLanguage="zh-CN"
		WebFilesPath="/"
		skin="default"
		disableThreading="false"
		cacheFactor="5"
		enableUsersOnline = "true"
		passwordEncodingFormat="MD5Hash"
		SettingsConfigPath="Config/Settings.config"
		SiteUrlsConfigPath="Config/SiteUrls.API.config"
	>
        <providers>
            <clear/>
            <add
				name = "CommonDataProvider"
				type = "Mtime.Community.Data.SQLServerDataProvider.SqlCommonDataProvider, Mtime.Community.SQLServerDataProvider"
				connectionStringName = "SiteSqlServer"	databaseOwnerStringName = "SiteSqlServerOwner"
				/>

        </providers>
    </Core>

    <MarkUp>
        <globalAttributes>
            <class enable = "true" />
            <style enable = "true" />
            <align enable = "true" />
            <id enable = "true" />
        </globalAttributes>
        <html>
            <h1 />
            <h2 />
            <h3 />
            <h4 />
            <h5 />
            <h6 />
            <h7 />
            <strong />
            <em />
            <u />
            <b />
            <i />
            <strike />
            <sub />
            <sup />
            <font size = "true" color = "true" face = "true" />
            <blockquote dir = "true" />
            <ul />
            <ol />
            <li />
            <p dir = "true" />
            <address />
            <div />
            <hr />
            <br />
            <a href = "true" title = "true" name = "true" target= "true" rel = "true" />
            <span />
            <img src = "true" alt = "true" title = "true" border = "true" width = "true" height = "true" hspace = "true" />
            <table cellpadding = "true" cellspacing = "true" bgcolor = "true" />
            <th />
            <td rowspan = "true" colspan = "true" />
            <tr />
            <pre />
            <code />
            <xmp />
            <lecut />
        </html>
    </MarkUp>

    <Jobs minutes = "15" singleThread = "true">
        <job name = "ForumsIndexing" type = "CommunityServer.Components.SearchBarrel.ForumsSearchJob, CommunityServer.Components.SearchBarrel" enabled = "true" enableShutDown = "false" />
    </Jobs>
</Community>