<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://www.mtime.com/database.xsd">
  <dbInfos>
    <dbInfo name="Piaoyou" provider="SqlServer2005" connString="server=127.0.0.1;database=mtime;uid=piaoyouDataUser123;pwd=piaoyouDataUser123456"/>
  </dbInfos>
  <dbMaps>
    <dbMap name="Piaoyou" dbList="Piaoyou"/>
  </dbMaps>
</configuration>
