<?xml version="1.0" encoding="UTF-8" ?>
<Caches>
  <!--
	key:缓存标志
	Threshold:2，第2次请求才建立缓存
	ExpirationTimeMinutes:缓存过期时间
	RemoveByPattern: true允许批量移除，false不允许批量移除
	-->
  <Cache key="M10_MW_GetUserRoleList" Threshold="1" ExpirationTimeMinutes="30" RemoveByPattern="true"/>
  <Cache key="M15_GetNewsSourceURLBySourceType" Threshold="1" ExpirationTimeMinutes="30" RemoveByPattern="true"/>
  <Cache key="MovieRandomDict" Threshold="1" ExpirationTimeMinutes="30" RemoveByPattern="true"/>
  <Cache key="CategoryCache" Threshold="1" ExpirationTimeMinutes="30" RemoveByPattern="true"/>
</Caches>