<?xml version="1.0"?>
<configuration>
  <queues>
    <queue name="TaskPiaowutong" path="FormatName:DIRECT=tcp:127.0.0.1\private$\TaskPiaowutong" description="" formatter="json"/>
    <queue name="TaskWeixin" path="FormatName:DIRECT=tcp:127.0.0.1\private$\TaskWeixin" description="" formatter="json"/>
  </queues>
</configuration>
