<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.mtime.com/service.xsd">
  <components>
    <component name="CacheService" reusable="true" service="Mtime.Cache.ICacheService,Mtime.Utility" type="Mtime.Web.AspnetCacheService,Mtime.Web2" />
    <component name="RouteEngine" reusable="true" service="Mtime.Web.IRouteEngine,Mtime.Web2" type="JD.MovieAPI.RouteEngine,JD.MovieAPI.Mvc" />
  </components>
</configuration>