<?xml version="1.0"?>
<configuration xmlns="http://www.piaoyou.com/site2.xsd">
  <runtime debug="true"/>
  <passport cookieName="PiaoyouManage" enabled="true" expireTime="120" anonymous="true"/>
  <urls>
    <add name="default" value="~/index.aspx"/>
    <add name="signin" value="~/signin.aspx"/>
    <add name="notfound" value="~/404.htm"/>
    <!--<add name="failed" value="~/404.aspx"/>-->
    <add name="noright" value="~/noright.aspx"/>
  </urls>
  <settings>
    <add key="Application" value="1"/>
    <add key="playEndTime" value="15"/>
    <add key="lockTime" value="5"/>
    <add key="ImageUrl" value="http://image.moviefan.com.cn/"/>
  </settings>
</configuration>
