<?xml version="1.0" encoding="utf-8" ?>
<configuration version="debug">
  <images server=""/>
  <styles server="">
    <group name="Manage" path="/css/manage.min.css">
      <add path="/css/Manage.css"/>
      <add path="/css/dialog.css"/>
    </group>
  </styles>
  <scripts server="">
    <group name="Core" path="/js/Piaoyou.Core.min.js" global="true">
      <add path="/js/Piaoyou.Core.js"/>
    </group>
  </scripts>
</configuration>